<a href="https://colab.research.google.com/github/mmoha013/-CSC221_mmoha013/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# TIY 3-1
friends = ['Adam','Evans','kelvin', 'ofori', 'ponder']
print (friends [0])
print (friends [1])
print (friends [2])
print (friends [3])
print (friends [4])

Adam
Evans
kelvin
ofori
ponder

In [9]:
# TIY 3-2
friends = ['Adam','Evans','kelvin', 'ofori', 'ponder']
print (f"Hi there " + friends [0])
print (f"Hi there " + friends [1])
print (f"Hi there " + friends [2])
print (f"Hi there " + friends [3])
print (f"Hi there " + friends [4])

Hi there Adam
Hi there Evans
Hi there kelvin
Hi there ofori
Hi there ponder

In [11]:
# TIY 3-3
cars = ['hyundai sonata', 'dodge charger', 'mercedes-benz']
print(f" My Dream car is a " + cars [0])
print(f" I used to drive a " + cars [1])
print(f" i hate mercedes-benz "+ cars [2])

 My Dream car is a hyundai sonata
 I used to drive a dodge charger
 i hate mercedes-benz mercedes-benz

In [23]:
# TIY 3-4
friends = ['Adam','Evans','kelvin', ]
print(f"Hello you invited to my dinner " +friends [0])
print(f"Hello you invited to my dinner " + friends [1] )
print(f"Hello you invited to my dinner " + friends [2] )

Hello you invited to my dinner Adam
Hello you invited to my dinner Evans
Hello you invited to my dinner kelvin

In [28]:
# TIY 3-5
friends = ['Adam','Evans','kelvin', ]
print(f" Hello you invited to my dinner " +friends [0])
print(f" Hello you invited to my dinner " + friends [1] )
print(f" Hello you invited to my dinner " + friends [2] )
print(f"{friends[2]} cant make it ")
del friends[2]
print(friends)
print(f" Hello you invited to my dinner " +friends [0])
print(f" Hello you invited to my dinner " + friends [1] )
print(friends)

 Hello you invited to my dinner Adam
 Hello you invited to my dinner Evans
 Hello you invited to my dinner kelvin
kelvin cant make it
['Adam', 'Evans']
 Hello you invited to my dinner Adam
 Hello you invited to my dinner Evans
['Adam', 'Evans']

In [34]:
# TIY 3-6
friends = ['Adam','Evans', ]
print(f'Hello {friends[0]} and {friends[1]}, I found a bigger table.')
friends.insert(0, "Dares")
friends.insert(2, "Dilling")
friends.append('joel')
print(friends)
print(f"Hello I found a bigger table"+friends [0])
print(f"Hello I found a bigger table " +friends [1])
print(f"Hello I found a bigger table " +friends [2])
print(f"Hello I found a bigger table " +friends [3])
print(f"Hello I found a bigger table " +friends [4])

Hello Adam and Evans, I found a bigger table.
['Dares', 'Adam', 'Dilling', 'Evans', 'joel']
Hello I found a bigger tableDares
Hello I found a bigger table Adam
Hello I found a bigger table Dilling
Hello I found a bigger table Evans
Hello I found a bigger table joel

In [ ]:
# TIY 3-7
friends = ['Dares', 'Adam', 'Dilling', 'Evans', 'joel']

In [ ]:
# TIY 3-6
friends = ['Adam','Evans', ]
print(f'Hello {friends[0]} and {friends[1]}, I found a bigger table.')
friends.insert(0, "Dares")
friends.insert(2, "Dilling")
friends.append('joel')
print(friends)
print(f"Hello I found a bigger table"+friends [0])
print(f"Hello I found a bigger table " +friends [1])
print(f"Hello I found a bigger table " +friends [2])
print(f"Hello I found a bigger table " +friends [3])
print(f"Hello I found a bigger table " +friends [4])

Hello Adam and Evans, I found a bigger table.
['Dares', 'Adam', 'Dilling', 'Evans', 'joel']
Hello I found a bigger tableDares
Hello I found a bigger table Adam
Hello I found a bigger table Dilling
Hello I found a bigger table Evans
Hello I found a bigger table joel

In [ ]:
# TIY 3-6
friends = ['Adam','Evans', ]
print(f'Hello {friends[0]} and {friends[1]}, I found a bigger table.')
friends.insert(0, "Dares")
friends.insert(2, "Dilling")
friends.append('joel')
print(friends)
print(f"Hello I found a bigger table"+friends [0])
print(f"Hello I found a bigger table " +friends [1])
print(f"Hello I found a bigger table " +friends [2])
print(f"Hello I found a bigger table " +friends [3])
print(f"Hello I found a bigger table " +friends [4])

Hello Adam and Evans, I found a bigger table.
['Dares', 'Adam', 'Dilling', 'Evans', 'joel']
Hello I found a bigger tableDares
Hello I found a bigger table Adam
Hello I found a bigger table Dilling
Hello I found a bigger table Evans
Hello I found a bigger table joel

In [41]:
# TIY 3-7
friends = ['Dares', 'Adam', 'Dilling', 'Evans', 'joel']
print(friends)
popped_friends_one = friends.pop()
popped_friends_two = friends.pop(3)
popped_friends_three =friends.pop(0)
print(popped_friends_one)
print(popped_friends_two)
print(popped_friends_three)
print(f'sorry friends only two people can come to the dinner')
print(friends)
del friends[0]
del friends[0]
print(friends)

['Dares', 'Adam', 'Dilling', 'Evans', 'joel']
joel
Evans
Dares
sorry friends only two people can come to the dinner
['Adam', 'Dilling']
[]

In [45]:
# TIY 3-8
vacation = ['ghana', 'nigeria', 'dubai', 'puerto rico', 'Dominican Republic']
print(vacation)
print(sorted(vacation))
print(vacation)
print(vacation.sort(reverse=True))
print(vacation)
vacation.reverse()
print(vacation)
vacation.reverse
print(sorted(vacation))
print(Vacation.sort(reverse=True))

['ghana', 'nigeria', 'dubai', 'puerto rico', 'Dominican Republic']
['Dominican Republic', 'dubai', 'ghana', 'nigeria', 'puerto rico']
['ghana', 'nigeria', 'dubai', 'puerto rico', 'Dominican Republic']
None
['puerto rico', 'nigeria', 'ghana', 'dubai', 'Dominican Republic']
['Dominican Republic', 'dubai', 'ghana', 'nigeria', 'puerto rico']
['Dominican Republic', 'dubai', 'ghana', 'nigeria', 'puerto rico']
None

In [47]:
# TIY 3-9
friends = ['Adam', 'Dilling']
len(friends)

2

In [48]:
# TIY 3-10
language = ['twi','hausa','french', 'spanish']
print(language[0])
language.append('chinese')
print(language)
language.insert(0, 'chinese')
print(language)
del language[0]
print(language)
popped_language = language.pop()
print(language)
print(popped_language)
print(language )
language.remove('spanish')
print(language)
language.sort()
print(language)
language.reverse()
print(language)
len(language )

twi
['twi', 'hausa', 'french', 'spanish', 'chinese']
['chinese', 'twi', 'hausa', 'french', 'spanish', 'chinese']
['twi', 'hausa', 'french', 'spanish', 'chinese']
['twi', 'hausa', 'french', 'spanish']
chinese
['twi', 'hausa', 'french', 'spanish']
['twi', 'hausa', 'french']
['french', 'hausa', 'twi']
['twi', 'hausa', 'french']

3

In [49]:
#TIY 3-11
Language = ['twi','hausa','french', 'spanish']
print(language(6))

SyntaxError: invalid syntax (<ipython-input-49-c28f1c483419>, line 1)

In [54]:
#TIY 3-11
Language = ['twi','hausa','french', 'spanish']
print(Language[3])

spanish